repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    args: ['--markdown-linebreak-ext=md']
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      args: [--profile=black, --force-single-line-imports]
- repo: https://github.com/PyCQA/autoflake
  rev: v2.2.0
  hooks:
  - id: autoflake
    args: [--in-place, --recursive, --remove-unused-variables, --remove-all-unused-imports]
